.page{
    width: 1496px;
    background-color: rgb(237, 239, 252);
}
.pannel-wrapper{
    display: flex;
    width: 1496px;
    height: 90px;
    background-color: #32aeb1;
    align-items: center;
    border-collapse: 0;
}
.header-shadow{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 -2px 6px #333;
}
.logo{
    width: 168px;
    height: 60px;
    padding-left: 120px;
    margin-right: 12px;
    
}
.logo > img{
   width: 165px;
   height: 60px;
}

.search-bar > input{
    width: 670px;
    height: 48px;
    border-radius: 12px;
}

.upload{
    margin-left: 20px;
    padding-left: 28px;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.cart{
    padding-left: 28px;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.signIn{
    padding-left: 28px;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.menu{
    width: 1496px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32aeb1 ;    
}

.spacemanu{
    height: 85px;
    background-color: #32aeb1 ; 
}

.menu > p{
    display: flex;
    color: white;
    font-size: 22px;
    padding: 0 70px;
    font-family: 'Lato', sans-serif;
}

.nav-sections > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 50px;
    align-items: center;
    background-color: white;
}

.banner-first > img{
    width: 1496px;
}

.banner-second{
    width: 1496px;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(237, 239, 252);
}

.banner-second > div{
    margin-top: 20px;
}

.banner-second > div > img{
    border-radius: 8px;
}

.space-1{
    width: 100%;
    height:20px;
    background-color:rgb(237, 239, 252);
}

.first-category{
    display: flex;
    width: 1496px ;
    justify-content:space-evenly;
    background-color:rgb(237, 239, 252);
}

.first-category > div{
    display: flex;
    width: 312.8px ;
    height: 86px;
    box-shadow:0 6px 12px -4px rgb(11 18 25 / 10%);
    align-items: center;
    border-radius: 10px;
    padding-left: 20px;
    background-color: white;
}

.first-category > div > img{
    width: 56px;
    height: 62px;
}
.headSave{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.headIng{
    height: 3a0px;
    font-size: 20px;
    color: #0b1219;
}

.save{
    color: #5ba41c
}

.shop-by-category{
    background-color:rgb(237, 239, 252);
}

.section-category{
    width: 1440px;
    height: 372px;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 239, 252);
    padding-left: 24px;
    padding-top: 8px;
}

.section-category > h2{
    margin-left: 0;
    margin-top: 12px;
    font-family: 'Lato', sans-serif;
}

.category{
    display: flex;
}

.category-card{
    display: flex ;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 6px 12px -4px rgb(40 11 18 / 10%);
    background-color: white;
    border-radius: 8px;
    width: 272.15px;
    height: 292px;
    align-items: center;
    margin:0 1% 24px 0;
   
}

.category-card > img{
    width: 200px;
    height: 200px;
}

#imge{
    display: flex;
    width: 200px; 
    height: 200px;
    align-items: center;
    justify-content: center;
}

#imge > img{
    width: 160px; 
    height: 160px;
 }

 .cat_title{
    font-size: 18px;
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
 }

.productsDisplay{
    width: 1496px;
    height: 501.3px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,#24aeb1 40%,rgb(237, 239, 252) 30%);
    color: white;
    margin-top: 20px;
}

.productsDisplay > h2{
    padding-left: 48px;
    font-family: 'Lato', sans-serif;
}

.swiper-container{
    width: 1308px ;
    height: 437.3px ;
    padding-left: 98px;
    display: flex;
}

.pro-card{
    width: 255.2px;
    height: 393.3px;
    background-color: white;
    border-radius: 8px;
    margin-right: 16px;
}

.footer{
    margin-top: 20px;
    padding: 30px 200px;
    background: white;
}

.classfooter{
    display: flex;
    align-items: center;
}

.classfooter > img{
    width: 180px;
    height: 39.33px;
    padding-right: 108px;
}

.classfooter > p{
    width: 618px;
    height: 62px;
    font-size: 18px;
    /* margin-left: 28px; */
}